html {
    height: 100%;
}
body {
    font-family: 'Nunito', sans-serif;
    color: #1b4639;
    background: #cbe2e4;
    height: 100%;

  }

  .wrapper {
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  p {
      text-align: center;
      margin: 0;
      font-size: 24px;
  }